<html>
    <head>
        <title>Welcome!</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>
    <body class = "blue">
       <div class = "container">
        <h1>Welcome</h1>
        <div class = "card">
            <div class = "card-content">
            <span class = "card-title">Sentence Character Counter</span>
        <form method="post" action = "/sentenceResult">
            <label for="sentenceIndex">Enter a sentence</label>
            <input type="text" name="sentenceIndex">
            <button class = "btn" type="submit">Submit</button>
        </form>
        </div>
        </div>
        <div class = "card">
            <div class = "card-content">
            <span class = "card-title">Number Operation</span>

        <form method="post" action = "/numResult">
            <label for="num1">Enter the first number</label>
            <input type="text" name="num1">
            <label for="num2">Enter the second number</label>
            <input type="text" name="num2">            
            <label for="operation">Enter an operation name</label>
            <input placeholder = "plus, minus, multiply, or divide" type="text" name="operation">
            <button class = "btn" type="submit">Submit</button>
        </form>
        </div>
        </div>
        </div>
    </body>

</html>